.czerwone, .zielone, .pomaranczowe {
  background-color: none;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  display: flex;
}

.zadanie3 {
  display: flex;
}

.zadanie3-div {
  margin: 10px;
}


.notatki {
  display: flex;
}

.lewaStrona {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.sejv {
  margin-top: 10px;
}
